{% extends 'shared/template.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% block pageTitle %}
            Liste des Todos :
        {% endblock %}

        <div class="container mt-5">
            <ol class="list-group">

                {% for name,content in app.session.get('todos') %}
                    <li class="list-group-item">
                        {{ name }} : {{ content }}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
