{% extends 'shared/template.html.twig' %}

{% block body %}
        {% if person %}
                <div class="alert alert-success">
                        {{ person.firstname }} {{ person.name }} is {{ person.age }} years old
                </div>
        {% endif %}
{% endblock %}
{% block title %}

{% endblock %}

